[submodule "enhanced"]
	path = enhanced
	url = https://github.com/wgt19861219/godot-mcp-enhanced
[submodule "GodotPrompter"]
	path = GodotPrompter
	url = https://github.com/jame581/GodotPrompter
[submodule "gd-agentic-skills"]
	path = gd-agentic-skills
	url = https://github.com/thedivergentai/gd-agentic-skills
